@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Serif CJK TC'), local('Source Han Serif K'), local('Source Han Serif'), local('Noto Serif CJK'), local('Noto Serif'), url(https://github.com/linuxlovemin/NotoLightCJK/raw/master/NotoLSerifTC-Regular.woff) format('woff'),url(https://github.com/linuxlovemin/NotoLightCJK/raw/master/NotoLSerifTC-Regular.woff) format('woff2'), url(https://github.com/linuxlovemin/NotoLightCJK/raw/master/NotoLSerifTC-Regular.otf) format('otf');
}
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Serif CJK TC'), local('Source Han Serif K'), local('Source Han Serif'), local('Noto Serif CJK'), local('Noto Serif'), url(https://github.com/linuxlovemin/NotoLightCJK/raw/master/NotoLSerifTC-Bold.woff) format('woff'),url(https://github.com/linuxlovemin/NotoLightCJK/raw/master/NotoLSerifTC-Bold.woff2) format('woff2'), url(https://github.com/linuxlovemin/NotoLightCJK/raw/master/NotoLSerifTC-Bold.otf) format('otf');
}

